###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto


###############################################################################
# LFS extensions.
###############################################################################

# Unity:
*.bundle filter=lfs diff=lfs merge=lfs -text
*.unitypackage filter=lfs diff=lfs merge=lfs -text

# Image:
*.tga filter=lfs diff=lfs merge=lfs -text
*.tpic filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.psd filter=lfs diff=lfs merge=lfs -text
*.psb filter=lfs diff=lfs merge=lfs -text
*.pdb filter=lfs diff=lfs merge=lfs -text
*.pdd filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.jpe filter=lfs diff=lfs merge=lfs -text
*.jif filter=lfs diff=lfs merge=lfs -text
*.jfif filter=lfs diff=lfs merge=lfs -text
*.jfi filter=lfs diff=lfs merge=lfs -text
*.jp2 filter=lfs diff=lfs merge=lfs -text
*.j2c filter=lfs diff=lfs merge=lfs -text
*.jpc filter=lfs diff=lfs merge=lfs -text
*.j2k filter=lfs diff=lfs merge=lfs -text
*.jpx filter=lfs diff=lfs merge=lfs -text
*.jls filter=lfs diff=lfs merge=lfs -text
*.exr filter=lfs diff=lfs merge=lfs -text
*.hdr filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.gifa filter=lfs diff=lfs merge=lfs -text
*.gifv filter=lfs diff=lfs merge=lfs -text
*.giff filter=lfs diff=lfs merge=lfs -text
*.abc filter=lfs diff=lfs merge=lfs -text
*.adrg filter=lfs diff=lfs merge=lfs -text
*.adri filter=lfs diff=lfs merge=lfs -text
*.afdesign filter=lfs diff=lfs merge=lfs -text
*.afp filter=lfs diff=lfs merge=lfs -text
*.afphoto filter=lfs diff=lfs merge=lfs -text
*.pix filter=lfs diff=lfs merge=lfs -text
*.matte filter=lfs diff=lfs merge=lfs -text
*.alpha filter=lfs diff=lfs merge=lfs -text
*.als filter=lfs diff=lfs merge=lfs -text
*.ami filter=lfs diff=lfs merge=lfs -text
*.ani filter=lfs diff=lfs merge=lfs -text
*.iff filter=lfs diff=lfs merge=lfs -text
*.icns filter=lfs diff=lfs merge=lfs -text
*.apx filter=lfs diff=lfs merge=lfs -text
*.art filter=lfs diff=lfs merge=lfs -text
*.artb filter=lfs diff=lfs merge=lfs -text
*.aam filter=lfs diff=lfs merge=lfs -text
*.aas filter=lfs diff=lfs merge=lfs -text
*.aab filter=lfs diff=lfs merge=lfs -text
*.x32 filter=lfs diff=lfs merge=lfs -text
*.u32 filter=lfs diff=lfs merge=lfs -text
*.dxf filter=lfs diff=lfs merge=lfs -text
*.awd filter=lfs diff=lfs merge=lfs -text
*.arw filter=lfs diff=lfs merge=lfs -text
*.bay filter=lfs diff=lfs merge=lfs -text
*.btf filter=lfs diff=lfs merge=lfs -text
*.tiff filter=lfs diff=lfs merge=lfs -text
*.tif filter=lfs diff=lfs merge=lfs -text
*.bmp filter=lfs diff=lfs merge=lfs -text
*.dib filter=lfs diff=lfs merge=lfs -text
*.rle filter=lfs diff=lfs merge=lfs -text
*.2bp filter=lfs diff=lfs merge=lfs -text
*.hpc filter=lfs diff=lfs merge=lfs -text
*.bpg filter=lfs diff=lfs merge=lfs -text
*.brk filter=lfs diff=lfs merge=lfs -text
*.bsv filter=lfs diff=lfs merge=lfs -text
*.cam filter=lfs diff=lfs merge=lfs -text
*.cadrg filter=lfs diff=lfs merge=lfs -text
*.cal filter=lfs diff=lfs merge=lfs -text
*.cals filter=lfs diff=lfs merge=lfs -text
*.ras filter=lfs diff=lfs merge=lfs -text
*.dcl filter=lfs diff=lfs merge=lfs -text
*.cap filter=lfs diff=lfs merge=lfs -text
*.crw filter=lfs diff=lfs merge=lfs -text
*.ciff filter=lfs diff=lfs merge=lfs -text
*.cr2 filter=lfs diff=lfs merge=lfs -text
*.cdr filter=lfs diff=lfs merge=lfs -text
*.ccx filter=lfs diff=lfs merge=lfs -text
*.cdt filter=lfs diff=lfs merge=lfs -text
*.cmx filter=lfs diff=lfs merge=lfs -text
*.cgm filter=lfs diff=lfs merge=lfs -text
*.cin filter=lfs diff=lfs merge=lfs -text
*.pat filter=lfs diff=lfs merge=lfs -text
*.cpc filter=lfs diff=lfs merge=lfs -text
*.cpi filter=lfs diff=lfs merge=lfs -text
*.cpt filter=lfs diff=lfs merge=lfs -text
*.ca1 filter=lfs diff=lfs merge=lfs -text
*.ca2 filter=lfs diff=lfs merge=lfs -text
*.ca3 filter=lfs diff=lfs merge=lfs -text
*.cut filter=lfs diff=lfs merge=lfs -text
*.cmyk filter=lfs diff=lfs merge=lfs -text
*.cmyka filter=lfs diff=lfs merge=lfs -text
*.dcs filter=lfs diff=lfs merge=lfs -text
*.dcr filter=lfs diff=lfs merge=lfs -text
*.dds filter=lfs diff=lfs merge=lfs -text
*.pi1 filter=lfs diff=lfs merge=lfs -text
*.pi2 filter=lfs diff=lfs merge=lfs -text
*.pi3 filter=lfs diff=lfs merge=lfs -text
*.pc1 filter=lfs diff=lfs merge=lfs -text
*.pc2 filter=lfs diff=lfs merge=lfs -text
*.pc3 filter=lfs diff=lfs merge=lfs -text
*.dng filter=lfs diff=lfs merge=lfs -text
*.dcm filter=lfs diff=lfs merge=lfs -text
*.dicom filter=lfs diff=lfs merge=lfs -text
*.djvu filter=lfs diff=lfs merge=lfs -text
*.djv filter=lfs diff=lfs merge=lfs -text
*.doo filter=lfs diff=lfs merge=lfs -text
*.dpx filter=lfs diff=lfs merge=lfs -text
*.drf filter=lfs diff=lfs merge=lfs -text
*.ecw filter=lfs diff=lfs merge=lfs -text
*.edg filter=lfs diff=lfs merge=lfs -text
*.egi filter=lfs diff=lfs merge=lfs -text
*.emf filter=lfs diff=lfs merge=lfs -text
*.emz filter=lfs diff=lfs merge=lfs -text
*.erf filter=lfs diff=lfs merge=lfs -text
*.eri filter=lfs diff=lfs merge=lfs -text
*.exif filter=lfs diff=lfs merge=lfs -text
*.eva filter=lfs diff=lfs merge=lfs -text
*.ff filter=lfs diff=lfs merge=lfs -text
*.fif filter=lfs diff=lfs merge=lfs -text
*.fig filter=lfs diff=lfs merge=lfs -text
*.fit filter=lfs diff=lfs merge=lfs -text
*.fits filter=lfs diff=lfs merge=lfs -text
*.fla filter=lfs diff=lfs merge=lfs -text
*.fli filter=lfs diff=lfs merge=lfs -text
*.flc filter=lfs diff=lfs merge=lfs -text
*.flx filter=lfs diff=lfs merge=lfs -text
*.flh filter=lfs diff=lfs merge=lfs -text
*.flt filter=lfs diff=lfs merge=lfs -text
*.flif filter=lfs diff=lfs merge=lfs -text
*.flf filter=lfs diff=lfs merge=lfs -text
*.flw filter=lfs diff=lfs merge=lfs -text
*.fpx filter=lfs diff=lfs merge=lfs -text
*.fh4 filter=lfs diff=lfs merge=lfs -text
*.fh5 filter=lfs diff=lfs merge=lfs -text
*.fh7 filter=lfs diff=lfs merge=lfs -text
*.fh8 filter=lfs diff=lfs merge=lfs -text
*.fhc filter=lfs diff=lfs merge=lfs -text
*.fh filter=lfs diff=lfs merge=lfs -text
*.spl filter=lfs diff=lfs merge=lfs -text
*.fxt filter=lfs diff=lfs merge=lfs -text
*.gbr filter=lfs diff=lfs merge=lfs -text
*.xjt filter=lfs diff=lfs merge=lfs -text
*.xjtgz filter=lfs diff=lfs merge=lfs -text
*.xjtbz2 filter=lfs diff=lfs merge=lfs -text
*.gih filter=lfs diff=lfs merge=lfs -text
*.gra filter=lfs diff=lfs merge=lfs -text
*.g3 filter=lfs diff=lfs merge=lfs -text
*.3fr filter=lfs diff=lfs merge=lfs -text
*.fff filter=lfs diff=lfs merge=lfs -text
*.heif filter=lfs diff=lfs merge=lfs -text
*.heic filter=lfs diff=lfs merge=lfs -text
*.hg filter=lfs diff=lfs merge=lfs -text
*.iiq filter=lfs diff=lfs merge=lfs -text
*.ima filter=lfs diff=lfs merge=lfs -text
*.img filter=lfs diff=lfs merge=lfs -text
*.im4 filter=lfs diff=lfs merge=lfs -text
*.svgz filter=lfs diff=lfs merge=lfs -text
*.ico filter=lfs diff=lfs merge=lfs -text
*.cur filter=lfs diff=lfs merge=lfs -text
*.ics filter=lfs diff=lfs merge=lfs -text
*.ids filter=lfs diff=lfs merge=lfs -text
*.igs filter=lfs diff=lfs merge=lfs -text
*.ilbm filter=lfs diff=lfs merge=lfs -text
*.lbm filter=lfs diff=lfs merge=lfs -text
*.jbig filter=lfs diff=lfs merge=lfs -text
*.bie filter=lfs diff=lfs merge=lfs -text
*.jbg filter=lfs diff=lfs merge=lfs -text
*.jng filter=lfs diff=lfs merge=lfs -text
*.wdp filter=lfs diff=lfs merge=lfs -text
*.hdp filter=lfs diff=lfs merge=lfs -text
*.jxr filter=lfs diff=lfs merge=lfs -text
*.j6i filter=lfs diff=lfs merge=lfs -text
*.kdc filter=lfs diff=lfs merge=lfs -text
*.koa filter=lfs diff=lfs merge=lfs -text
*.gg filter=lfs diff=lfs merge=lfs -text
*.kif filter=lfs diff=lfs merge=lfs -text
*.kiff filter=lfs diff=lfs merge=lfs -text
*.cel filter=lfs diff=lfs merge=lfs -text
*.pcd filter=lfs diff=lfs merge=lfs -text
*.kqp filter=lfs diff=lfs merge=lfs -text
*.k25 filter=lfs diff=lfs merge=lfs -text
*.mos filter=lfs diff=lfs merge=lfs -text
*.lsp filter=lfs diff=lfs merge=lfs -text
*.pnt filter=lfs diff=lfs merge=lfs -text
*.mac filter=lfs diff=lfs merge=lfs -text
*.mdc filter=lfs diff=lfs merge=lfs -text
*.met filter=lfs diff=lfs merge=lfs -text
*.mda filter=lfs diff=lfs merge=lfs -text
*.ica filter=lfs diff=lfs merge=lfs -text
*.mmr filter=lfs diff=lfs merge=lfs -text
*.msp filter=lfs diff=lfs merge=lfs -text
*.myd filter=lfs diff=lfs merge=lfs -text
*.myv filter=lfs diff=lfs merge=lfs -text
*.nef filter=lfs diff=lfs merge=lfs -text
*.mef filter=lfs diff=lfs merge=lfs -text
*.neo filter=lfs diff=lfs merge=lfs -text
*.mag filter=lfs diff=lfs merge=lfs -text
*.mki filter=lfs diff=lfs merge=lfs -text
*.miff filter=lfs diff=lfs merge=lfs -text
*.msa filter=lfs diff=lfs merge=lfs -text
*.mvg filter=lfs diff=lfs merge=lfs -text
*.mrw filter=lfs diff=lfs merge=lfs -text
*.oaz filter=lfs diff=lfs merge=lfs -text
*.odg filter=lfs diff=lfs merge=lfs -text
*.orf filter=lfs diff=lfs merge=lfs -text
*.ortl filter=lfs diff=lfs merge=lfs -text
*.pam filter=lfs diff=lfs merge=lfs -text
*.pcf filter=lfs diff=lfs merge=lfs -text
*.prc filter=lfs diff=lfs merge=lfs -text
*.pbm filter=lfs diff=lfs merge=lfs -text
*.pcx filter=lfs diff=lfs merge=lfs -text
*.pcc filter=lfs diff=lfs merge=lfs -text
*.dcx filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
*.epdf filter=lfs diff=lfs merge=lfs -text
*.pdn filter=lfs diff=lfs merge=lfs -text
*.pef filter=lfs diff=lfs merge=lfs -text
*.pgf filter=lfs diff=lfs merge=lfs -text
*.pgm filter=lfs diff=lfs merge=lfs -text
*.pcs filter=lfs diff=lfs merge=lfs -text
*.pnm filter=lfs diff=lfs merge=lfs -text
*.ptx filter=lfs diff=lfs merge=lfs -text
*.pi filter=lfs diff=lfs merge=lfs -text
*.pic filter=lfs diff=lfs merge=lfs -text
*.pict filter=lfs diff=lfs merge=lfs -text
*.pct filter=lfs diff=lfs merge=lfs -text
*.pct1 filter=lfs diff=lfs merge=lfs -text
*.pct2 filter=lfs diff=lfs merge=lfs -text
*.p2 filter=lfs diff=lfs merge=lfs -text
*.pld filter=lfs diff=lfs merge=lfs -text
*.pmp filter=lfs diff=lfs merge=lfs -text
*.ppm filter=lfs diff=lfs merge=lfs -text
*.psp filter=lfs diff=lfs merge=lfs -text
*.tub filter=lfs diff=lfs merge=lfs -text
*.pspimage filter=lfs diff=lfs merge=lfs -text
*.tim filter=lfs diff=lfs merge=lfs -text
*.tm2 filter=lfs diff=lfs merge=lfs -text
*.str filter=lfs diff=lfs merge=lfs -text
*.pxa filter=lfs diff=lfs merge=lfs -text
*.qtif filter=lfs diff=lfs merge=lfs -text
*.qti filter=lfs diff=lfs merge=lfs -text
*.qif filter=lfs diff=lfs merge=lfs -text
*.q0 filter=lfs diff=lfs merge=lfs -text
*.q4 filter=lfs diff=lfs merge=lfs -text
*.rad filter=lfs diff=lfs merge=lfs -text
*.raf filter=lfs diff=lfs merge=lfs -text
*.rgb filter=lfs diff=lfs merge=lfs -text
*.rgba filter=lfs diff=lfs merge=lfs -text
*.rhif filter=lfs diff=lfs merge=lfs -text
*.r3d filter=lfs diff=lfs merge=lfs -text
*.sai filter=lfs diff=lfs merge=lfs -text
*.sct filter=lfs diff=lfs merge=lfs -text
*.sda filter=lfs diff=lfs merge=lfs -text
*.sdd filter=lfs diff=lfs merge=lfs -text
*.sfw filter=lfs diff=lfs merge=lfs -text
*.pwp filter=lfs diff=lfs merge=lfs -text
*.sgb filter=lfs diff=lfs merge=lfs -text
*.sgi filter=lfs diff=lfs merge=lfs -text
*.bw filter=lfs diff=lfs merge=lfs -text
*.int filter=lfs diff=lfs merge=lfs -text
*.inta filter=lfs diff=lfs merge=lfs -text
*.icon filter=lfs diff=lfs merge=lfs -text
*.dir filter=lfs diff=lfs merge=lfs -text
*.dxr filter=lfs diff=lfs merge=lfs -text
*.fgd filter=lfs diff=lfs merge=lfs -text
*.sk filter=lfs diff=lfs merge=lfs -text
*.sml filter=lfs diff=lfs merge=lfs -text
*.srf filter=lfs diff=lfs merge=lfs -text
*.sr2 filter=lfs diff=lfs merge=lfs -text
*.sun filter=lfs diff=lfs merge=lfs -text
*.rs filter=lfs diff=lfs merge=lfs -text
*.im1 filter=lfs diff=lfs merge=lfs -text
*.im8 filter=lfs diff=lfs merge=lfs -text
*.im24 filter=lfs diff=lfs merge=lfs -text
*.im32 filter=lfs diff=lfs merge=lfs -text
*.stx filter=lfs diff=lfs merge=lfs -text
*.st4 filter=lfs diff=lfs merge=lfs -text
*.st5 filter=lfs diff=lfs merge=lfs -text
*.st6 filter=lfs diff=lfs merge=lfs -text
*.st7 filter=lfs diff=lfs merge=lfs -text
*.st8 filter=lfs diff=lfs merge=lfs -text
*.st9 filter=lfs diff=lfs merge=lfs -text
*.sgx filter=lfs diff=lfs merge=lfs -text
*.swf filter=lfs diff=lfs merge=lfs -text
*.sxd filter=lfs diff=lfs merge=lfs -text
*.tny filter=lfs diff=lfs merge=lfs -text
*.tn1 filter=lfs diff=lfs merge=lfs -text
*.tn2 filter=lfs diff=lfs merge=lfs -text
*.tn3 filter=lfs diff=lfs merge=lfs -text
*.tn4 filter=lfs diff=lfs merge=lfs -text
*.tn5 filter=lfs diff=lfs merge=lfs -text
*.tn6 filter=lfs diff=lfs merge=lfs -text
*.tlg filter=lfs diff=lfs merge=lfs -text
*.ufo filter=lfs diff=lfs merge=lfs -text
*.wbmp filter=lfs diff=lfs merge=lfs -text
*.wbm filter=lfs diff=lfs merge=lfs -text
*.wbp filter=lfs diff=lfs merge=lfs -text
*.webp filter=lfs diff=lfs merge=lfs -text
*.wfx filter=lfs diff=lfs merge=lfs -text
*.fxs filter=lfs diff=lfs merge=lfs -text
*.fxo filter=lfs diff=lfs merge=lfs -text
*.wmf filter=lfs diff=lfs merge=lfs -text
*.wmz filter=lfs diff=lfs merge=lfs -text
*.wpg filter=lfs diff=lfs merge=lfs -text
*.xar filter=lfs diff=lfs merge=lfs -text
*.xbm filter=lfs diff=lfs merge=lfs -text
*.bm filter=lfs diff=lfs merge=lfs -text
*.bitmap filter=lfs diff=lfs merge=lfs -text
*.xcf filter=lfs diff=lfs merge=lfs -text
*.xcfbz2 filter=lfs diff=lfs merge=lfs -text
*.xcfgz filter=lfs diff=lfs merge=lfs -text
*.xpm filter=lfs diff=lfs merge=lfs -text
*.pm filter=lfs diff=lfs merge=lfs -text
*.x3f filter=lfs diff=lfs merge=lfs -text
*.xwd filter=lfs diff=lfs merge=lfs -text
*.x11 filter=lfs diff=lfs merge=lfs -text
*.xyz filter=lfs diff=lfs merge=lfs -text
*.ycbcr filter=lfs diff=lfs merge=lfs -text
*.ycbcra filter=lfs diff=lfs merge=lfs -text
*.zdt filter=lfs diff=lfs merge=lfs -text

# Audio:
*.mp3 filter=lfs diff=lfs merge=lfs -text
*.wav filter=lfs diff=lfs merge=lfs -text
*.wma filter=lfs diff=lfs merge=lfs -text
*.aiff filter=lfs diff=lfs merge=lfs -text
*.aif filter=lfs diff=lfs merge=lfs -text
*.aifc filter=lfs diff=lfs merge=lfs -text
*.ogg filter=lfs diff=lfs merge=lfs -text
*.oga filter=lfs diff=lfs merge=lfs -text
*.mogg filter=lfs diff=lfs merge=lfs -text
*.flac filter=lfs diff=lfs merge=lfs -text
*.aa filter=lfs diff=lfs merge=lfs -text
*.aac filter=lfs diff=lfs merge=lfs -text
*.aax filter=lfs diff=lfs merge=lfs -text
*.act filter=lfs diff=lfs merge=lfs -text
*.alac filter=lfs diff=lfs merge=lfs -text
*.amr filter=lfs diff=lfs merge=lfs -text
*.ape filter=lfs diff=lfs merge=lfs -text
*.au filter=lfs diff=lfs merge=lfs -text
*.awb filter=lfs diff=lfs merge=lfs -text
*.dct filter=lfs diff=lfs merge=lfs -text
*.dss filter=lfs diff=lfs merge=lfs -text
*.dvf filter=lfs diff=lfs merge=lfs -text
*.gsm filter=lfs diff=lfs merge=lfs -text
*.iklax filter=lfs diff=lfs merge=lfs -text
*.ivs filter=lfs diff=lfs merge=lfs -text
*.m4a filter=lfs diff=lfs merge=lfs -text
*.m4b filter=lfs diff=lfs merge=lfs -text
*.mmf filter=lfs diff=lfs merge=lfs -text
*.mpc filter=lfs diff=lfs merge=lfs -text
*.msv filter=lfs diff=lfs merge=lfs -text
*.nmf filter=lfs diff=lfs merge=lfs -text
*.nsf filter=lfs diff=lfs merge=lfs -text
*.opus filter=lfs diff=lfs merge=lfs -text
*.ra filter=lfs diff=lfs merge=lfs -text
*.rm filter=lfs diff=lfs merge=lfs -text
*.rmvb filter=lfs diff=lfs merge=lfs -text
*.raw filter=lfs diff=lfs merge=lfs -text
*.rw2 filter=lfs diff=lfs merge=lfs -text
*.rf64 filter=lfs diff=lfs merge=lfs -text
*.sln filter=lfs diff=lfs merge=lfs -text
*.tta filter=lfs diff=lfs merge=lfs -text
*.voc filter=lfs diff=lfs merge=lfs -text
*.vox filter=lfs diff=lfs merge=lfs -text
*.wv filter=lfs diff=lfs merge=lfs -text
*.8svx filter=lfs diff=lfs merge=lfs -text
*.cda filter=lfs diff=lfs merge=lfs -text

# Video:
*.mov filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.avi filter=lfs diff=lfs merge=lfs -text
*.webm filter=lfs diff=lfs merge=lfs -text
*.mkv filter=lfs diff=lfs merge=lfs -text
*.mk3d filter=lfs diff=lfs merge=lfs -text
*.flv filter=lfs diff=lfs merge=lfs -text
*.f4v filter=lfs diff=lfs merge=lfs -text
*.f4p filter=lfs diff=lfs merge=lfs -text
*.f4a filter=lfs diff=lfs merge=lfs -text
*.f4b filter=lfs diff=lfs merge=lfs -text
*.vob filter=lfs diff=lfs merge=lfs -text
*.ogv filter=lfs diff=lfs merge=lfs -text
*.qt filter=lfs diff=lfs merge=lfs -text
*.wmv filter=lfs diff=lfs merge=lfs -text
*.m4p filter=lfs diff=lfs merge=lfs -text
*.m4v filter=lfs diff=lfs merge=lfs -text
*.mpg filter=lfs diff=lfs merge=lfs -text
*.mp2 filter=lfs diff=lfs merge=lfs -text
*.mpeg filter=lfs diff=lfs merge=lfs -text
*.mpe filter=lfs diff=lfs merge=lfs -text
*.mpv filter=lfs diff=lfs merge=lfs -text
*.m2v filter=lfs diff=lfs merge=lfs -text
*.3gp filter=lfs diff=lfs merge=lfs -text
*.3g2 filter=lfs diff=lfs merge=lfs -text
*.drc filter=lfs diff=lfs merge=lfs -text
*.mng filter=lfs diff=lfs merge=lfs -text
*.mts filter=lfs diff=lfs merge=lfs -text
*.m2ts filter=lfs diff=lfs merge=lfs -text
*.ts filter=lfs diff=lfs merge=lfs -text
*.yuv filter=lfs diff=lfs merge=lfs -text
*.asf filter=lfs diff=lfs merge=lfs -text
*.amv filter=lfs diff=lfs merge=lfs -text
*.svi filter=lfs diff=lfs merge=lfs -text
*.mxf filter=lfs diff=lfs merge=lfs -text
*.roq filter=lfs diff=lfs merge=lfs -text
*.nsv filter=lfs diff=lfs merge=lfs -text
*.divx filter=lfs diff=lfs merge=lfs -text
*.evo filter=lfs diff=lfs merge=lfs -text
*.m2p filter=lfs diff=lfs merge=lfs -text

# Models/meshes:
*.fbx filter=lfs diff=lfs merge=lfs -text
*.blend filter=lfs diff=lfs merge=lfs -text
*.3dmf filter=lfs diff=lfs merge=lfs -text
*.3dm filter=lfs diff=lfs merge=lfs -text
*.3mf filter=lfs diff=lfs merge=lfs -text
*.3ds filter=lfs diff=lfs merge=lfs -text
*.ac filter=lfs diff=lfs merge=lfs -text
*.amf filter=lfs diff=lfs merge=lfs -text
*.an8 filter=lfs diff=lfs merge=lfs -text
*.aoi filter=lfs diff=lfs merge=lfs -text
*.asm filter=lfs diff=lfs merge=lfs -text
*.b3d filter=lfs diff=lfs merge=lfs -text
*.block filter=lfs diff=lfs merge=lfs -text
*.bmd filter=lfs diff=lfs merge=lfs -text
*.bdl filter=lfs diff=lfs merge=lfs -text
*.brres filter=lfs diff=lfs merge=lfs -text
*.c4d filter=lfs diff=lfs merge=lfs -text
*.cal3d filter=lfs diff=lfs merge=lfs -text
*.ccp4 filter=lfs diff=lfs merge=lfs -text
*.cfl filter=lfs diff=lfs merge=lfs -text
*.cob filter=lfs diff=lfs merge=lfs -text
*.core3d filter=lfs diff=lfs merge=lfs -text
*.ctm filter=lfs diff=lfs merge=lfs -text
*.dae filter=lfs diff=lfs merge=lfs -text
*.dff filter=lfs diff=lfs merge=lfs -text
*.dpm filter=lfs diff=lfs merge=lfs -text
*.dts filter=lfs diff=lfs merge=lfs -text
*.egg filter=lfs diff=lfs merge=lfs -text
*.fac filter=lfs diff=lfs merge=lfs -text
*.g filter=lfs diff=lfs merge=lfs -text
*.glb filter=lfs diff=lfs merge=lfs -text
*.glm filter=lfs diff=lfs merge=lfs -text
*.gltf filter=lfs diff=lfs merge=lfs -text
*.iob filter=lfs diff=lfs merge=lfs -text
*.jas filter=lfs diff=lfs merge=lfs -text
*.lwo filter=lfs diff=lfs merge=lfs -text
*.lws filter=lfs diff=lfs merge=lfs -text
*.lxf filter=lfs diff=lfs merge=lfs -text
*.lxo filter=lfs diff=lfs merge=lfs -text
*.max filter=lfs diff=lfs merge=lfs -text
*.mb filter=lfs diff=lfs merge=lfs -text
*.md2 filter=lfs diff=lfs merge=lfs -text
*.md3 filter=lfs diff=lfs merge=lfs -text
*.md5 filter=lfs diff=lfs merge=lfs -text
*.mdx filter=lfs diff=lfs merge=lfs -text
*.m filter=lfs diff=lfs merge=lfs -text
*.mesh filter=lfs diff=lfs merge=lfs -text
*.mm3d filter=lfs diff=lfs merge=lfs -text
*.mpo filter=lfs diff=lfs merge=lfs -text
*.mrc filter=lfs diff=lfs merge=lfs -text
*.nif filter=lfs diff=lfs merge=lfs -text
*.obj filter=lfs diff=lfs merge=lfs -text
*.off filter=lfs diff=lfs merge=lfs -text
*.ogex filter=lfs diff=lfs merge=lfs -text
*.ply filter=lfs diff=lfs merge=lfs -text
*.prt filter=lfs diff=lfs merge=lfs -text
*.rwx filter=lfs diff=lfs merge=lfs -text
*.sia filter=lfs diff=lfs merge=lfs -text
*.sib filter=lfs diff=lfs merge=lfs -text
*.sketch filter=lfs diff=lfs merge=lfs -text
*.skp filter=lfs diff=lfs merge=lfs -text
*.skb filter=lfs diff=lfs merge=lfs -text
*.sldasm filter=lfs diff=lfs merge=lfs -text
*.sldprt filter=lfs diff=lfs merge=lfs -text
*.smd filter=lfs diff=lfs merge=lfs -text
*.u3d filter=lfs diff=lfs merge=lfs -text
*.usd filter=lfs diff=lfs merge=lfs -text
*.usdc filter=lfs diff=lfs merge=lfs -text
*.usdz filter=lfs diff=lfs merge=lfs -text
*.vimproj filter=lfs diff=lfs merge=lfs -text
*.wrl filter=lfs diff=lfs merge=lfs -text
*.vue filter=lfs diff=lfs merge=lfs -text
*.vwx filter=lfs diff=lfs merge=lfs -text
*.wings filter=lfs diff=lfs merge=lfs -text
*.w3d filter=lfs diff=lfs merge=lfs -text
*.x filter=lfs diff=lfs merge=lfs -text
*.x3d filter=lfs diff=lfs merge=lfs -text
*.z3d filter=lfs diff=lfs merge=lfs -text

# Executables and libraries:
*.dll filter=lfs diff=lfs merge=lfs -text
*.ocx filter=lfs diff=lfs merge=lfs -text
*.so filter=lfs diff=lfs merge=lfs -text
*.o filter=lfs diff=lfs merge=lfs -text
*.com filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text

# Archives:
*.zip filter=lfs diff=lfs merge=lfs -text
*.zipx filter=lfs diff=lfs merge=lfs -text
*.rar filter=lfs diff=lfs merge=lfs -text
*.iso filter=lfs diff=lfs merge=lfs -text
*.tar filter=lfs diff=lfs merge=lfs -text
*.bz2 filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.lz filter=lfs diff=lfs merge=lfs -text
*.lz4 filter=lfs diff=lfs merge=lfs -text
*.lzma filter=lfs diff=lfs merge=lfs -text
*.lzo filter=lfs diff=lfs merge=lfs -text
*.rz filter=lfs diff=lfs merge=lfs -text
*.sfark filter=lfs diff=lfs merge=lfs -text
*.sz filter=lfs diff=lfs merge=lfs -text
*.xz filter=lfs diff=lfs merge=lfs -text
*.z filter=lfs diff=lfs merge=lfs -text
*.zst filter=lfs diff=lfs merge=lfs -text
*.7z filter=lfs diff=lfs merge=lfs -text
*.s7z filter=lfs diff=lfs merge=lfs -text
*.ace filter=lfs diff=lfs merge=lfs -text
*.afa filter=lfs diff=lfs merge=lfs -text
*.alz filter=lfs diff=lfs merge=lfs -text
*.apk filter=lfs diff=lfs merge=lfs -text
*.arc filter=lfs diff=lfs merge=lfs -text
*.ark filter=lfs diff=lfs merge=lfs -text
*.cdx filter=lfs diff=lfs merge=lfs -text
*.arj filter=lfs diff=lfs merge=lfs -text
*.b1 filter=lfs diff=lfs merge=lfs -text
*.b6z filter=lfs diff=lfs merge=lfs -text
*.ba filter=lfs diff=lfs merge=lfs -text
*.bh filter=lfs diff=lfs merge=lfs -text
*.cab filter=lfs diff=lfs merge=lfs -text
*.car filter=lfs diff=lfs merge=lfs -text
*.cfs filter=lfs diff=lfs merge=lfs -text
*.dar filter=lfs diff=lfs merge=lfs -text
*.dd filter=lfs diff=lfs merge=lfs -text
*.dgc filter=lfs diff=lfs merge=lfs -text
*.dmg filter=lfs diff=lfs merge=lfs -text
*.ear filter=lfs diff=lfs merge=lfs -text
*.gca filter=lfs diff=lfs merge=lfs -text
*.ha filter=lfs diff=lfs merge=lfs -text
*.hki filter=lfs diff=lfs merge=lfs -text
*.ice filter=lfs diff=lfs merge=lfs -text
*.jar filter=lfs diff=lfs merge=lfs -text
*.kgb filter=lfs diff=lfs merge=lfs -text
*.lzh filter=lfs diff=lfs merge=lfs -text
*.lha filter=lfs diff=lfs merge=lfs -text
*.lzx filter=lfs diff=lfs merge=lfs -text
*.pak filter=lfs diff=lfs merge=lfs -text
*.partimg filter=lfs diff=lfs merge=lfs -text
*.paq6 filter=lfs diff=lfs merge=lfs -text
*.paq7 filter=lfs diff=lfs merge=lfs -text
*.paq8 filter=lfs diff=lfs merge=lfs -text
*.pea filter=lfs diff=lfs merge=lfs -text
*.pim filter=lfs diff=lfs merge=lfs -text
*.pit filter=lfs diff=lfs merge=lfs -text
*.qda filter=lfs diff=lfs merge=lfs -text
*.rk filter=lfs diff=lfs merge=lfs -text
*.sea filter=lfs diff=lfs merge=lfs -text
*.sen filter=lfs diff=lfs merge=lfs -text
*.sfx filter=lfs diff=lfs merge=lfs -text
*.shk filter=lfs diff=lfs merge=lfs -text
*.sit filter=lfs diff=lfs merge=lfs -text
*.sitx filter=lfs diff=lfs merge=lfs -text
*.sqx filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
*.tbz2 filter=lfs diff=lfs merge=lfs -text
*.tlz filter=lfs diff=lfs merge=lfs -text
*.txz filter=lfs diff=lfs merge=lfs -text
*.uc filter=lfs diff=lfs merge=lfs -text
*.uc0 filter=lfs diff=lfs merge=lfs -text
*.uc2 filter=lfs diff=lfs merge=lfs -text
*.ucn filter=lfs diff=lfs merge=lfs -text
*.ur2 filter=lfs diff=lfs merge=lfs -text
*.ue2 filter=lfs diff=lfs merge=lfs -text
*.uca filter=lfs diff=lfs merge=lfs -text
*.uha filter=lfs diff=lfs merge=lfs -text
*.war filter=lfs diff=lfs merge=lfs -text
*.wim filter=lfs diff=lfs merge=lfs -text
*.xp3 filter=lfs diff=lfs merge=lfs -text
*.yz1 filter=lfs diff=lfs merge=lfs -text
*.zoo filter=lfs diff=lfs merge=lfs -text
*.zpaq filter=lfs diff=lfs merge=lfs -text
*.zz filter=lfs diff=lfs merge=lfs -text
*.a filter=lfs diff=lfs merge=lfs -text
*.ar filter=lfs diff=lfs merge=lfs -text
*.shar filter=lfs diff=lfs merge=lfs -text
*.run filter=lfs diff=lfs merge=lfs -text
*.mou filter=lfs diff=lfs merge=lfs -text
*.swm filter=lfs diff=lfs merge=lfs -text
*.esd filter=lfs diff=lfs merge=lfs -text

# --- End Git LFS ---
